# How to install dependencies:
#   python -m pip install -U pip
#   python -m pip install -r ../docs/requirements.txt

-r requirements-base.txt

PySide == 1.2.4
  #python/Lib/site-packages/PySide/*
  #python/Lib/site-packages/pysideuic/*

cx_Freeze >= 5.0.2
  #python/Lib/site-packages/cx_Freeze/*

pypiwin32 >= 219
  #python/Lib/site-packages/adodbapi/*
  #python/Lib/site-packages/isapi/*
  #python/Lib/site-packages/pypiwin32_system32/*
  #python/Lib/site-packages/pythonwin/*
  #python/Lib/site-packages/win32/*
  #python/Lib/site-packages/win32com/*
  #python/Lib/site-packages/win32comext/*
  #python/Lib/site-packages/pypiwin32.pth
  #python/Lib/site-packages/pypiwin32.version.txt
  #python/Lib/site-packages/pythoncom.py
